[submodule "plugins/quantum"]
	path = plugins/quantum
	url = git@github.com:pnnh/quantum.git
	branch = main
[submodule "server/src/atom"]
	path = server/src/atom
	url = git@github.com:pnnh/atom.git
[submodule "plugins/bitsdojo_window"]
	path = plugins/bitsdojo_window
	url = git@github.com:pnnh/bitsdojo_window.git
